#playlist {
	position: relative;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 39%;
	left: 61%;
	margin-top: 10px;
	background: #9fdaff;
	padding: 5px;
	border-radius: 3px;
}

.playlist-title {
	font-weight: bold;
	line-height: 40px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.playlist-container {
	display: none;
}

.playlist-container-empty {
	position: relative;
	padding: 10px 0;
}

.playlist-title .fa-play {
	display: none;
	margin-left: 5px;
	cursor: pointer;
}

#playlist.active .fa-play {
	display: inline;
}

#playlist.active .playlist-container {
	display: block;
}

#playlist.active .playlist-container-empty {
	display: none;
}

#playlist .track .track-button-play,
#playlist .track .track-button-add {
	display: none;
}

#playlist .track .track-button-remove {
	display: block;
}

#playlist .track {
	padding-left: 20px;
	cursor: move;
}

#playlist .track.isPlaying {
	cursor: default;
}

#playlist .track:before {
	content: '';
	display: block;
	position: absolute;
	top: 10px;
	left: 5px;
	bottom: 10px;
	width: 6px;
	background-color: transparent;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(0, 0, 0, .35)), color-stop(.5, transparent), to(transparent));
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, .35) 50%, transparent 50%, transparent);
	background-image: -moz-linear-gradient(rgba(0, 0, 0, .35) 50%, transparent 50%, transparent);
	background-image: -ms-linear-gradient(rgba(0, 0, 0, .35) 50%, transparent 50%, transparent);
	background-image: -o-linear-gradient(rgba(0, 0, 0, .35) 50%, transparent 50%, transparent);
	background-image: linear-gradient(rgba(0, 0, 0, .35) 50%, transparent 50%, transparent);
	-webkit-background-size: 100% 6px;
	background-size: 100% 6px;
}

.dummy {
	position: absolute;
	background: rgba(0, 0, 0, 0.15);
	border: 3px solid rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	cursor: move;
}